.cover-block {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: $c-dark;
  z-index: 0;
  transition: transform 1s ease;

  transform: translate3d(0, 100%, 0);
}

.cover-block.active {
  transform: translate3d(0, 0, 0);
  z-index: 5;
}
