.cover-block {
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  background-color: $c-dark;
  z-index: 100;
  transition: top 1s ease;
}

.cover-block.active {
  top: 0;
}

// 1 анимация фона - предыдущий экран не исчезает:

//  - остановить переход по ссылке ЕСЛИ переход с Истории на призы
// - проиграть анимацию -
// по таймеру сделать переход по ссылке

// 2 переключение на другую страницу
