.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form__label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.2rem;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2;
  opacity: 0;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-bottom: 12px;
    font-size: 16px;
  }

  @media (orientation: portrait) {
    opacity: 1;
    pointer-events: auto;
  }
}

.form__field {
  position: relative;
  width: calc(100% - 21rem);
  margin-right: 3rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 3rem;

  label {
    position: absolute;
    top: 50%;
    left: 2rem;
    z-index: 1;
    color: rgba($c-dark, 0.5);
    text-transform: uppercase;
    transform: translateY(-50%);

    opacity: 0;
    transition: opacity 1s cubic-bezier(0, 0.32, 0, 0.33) 2s;
  }

  input {
    flex: none;
    padding: 0 5.6rem;
    text-transform: uppercase;
    font: inherit;
    font-size: 2.4rem;
    line-height: 1.2;
    color: $c-dark;
    border: 0;
    border-radius: 3rem;
    outline: none;

    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transform: translate(100%, 0);

    &:focus {
      border: 1px solid $c-purple;
    }

    @media (min-width: $stop-scaling) {
      padding: 0 56px;
      font-size: 24px;
      border-radius: 30px;
    }

    @media (orientation: portrait) {
      padding: 0 2.5rem;
      font-size: 1.6rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      padding: 0 2.5rem;
      font-size: 1.6rem;
      animation-duration: 1s;
    }
  }

  .screen--show &,
  .active & {
    input {
      animation: increaseFromCircleMobile 2s ease-in 0s 1 normal forwards;
    }
  }

  .active & {
    label {
      opacity: 1;
    }
  }

  @media (min-width: $stop-scaling) {
    margin-right: 30px;
    height: 60px;
    width: calc(100% - 210px);
  }

  @media (orientation: portrait) {
    margin-right: 1rem;
    width: calc(100% - 5rem);
    height: 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    width: calc(100% - 9rem);
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-right: 1rem;
    width: calc(100% - 5rem);
    height: 4rem;
  }
}

.form__button {
  flex-shrink: 0;

  @media (orientation: portrait) {
    position: relative;
    flex: none;
    padding: 0;
    width: 4rem;
    height: 4rem;
    font-size: 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    position: relative;
    flex: none;
    padding: 0;
    width: 6rem;
    height: 6rem;
    font-size: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 4rem;
    height: 4rem;
  }

  svg {
    @include center;
    display: none;
    width: 1.6rem;
    height: 1.8rem;

    @media (min-width: $stop-scaling) {
      width: 16px;
      height: 18px;
    }

    @media (orientation: portrait) {
      display: block;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      display: block;
    }
  }
}

.form--result {
  .form__field {
    width: calc(100% - 31rem);

    input {
      animation-delay: 0.528s;
    }

    label {
      transition-delay: 0s;
    }

    @media (min-width: $stop-scaling) {
      width: calc(100% - 310px);
    }

    @media (orientation: portrait) {
      width: calc(100% - 5rem);
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: calc(100% - 9rem);
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: calc(100% - 5rem);
    }
  }

  .form__button {
    opacity: 0;
    animation: fadeIn 0.3s ease-out 0.363s 1 forwards;

    span {
      opacity: 0;
      animation: fadeIn 0.1s ease-out 0.528s 1 forwards;
    }
  }
}
